#detailsBtn{
    width: 3rem;
    color: #1C1C1C;
}
#loadMoreButton{
    background-color: #6f38f6;
    height: 1.4rem;
    width: 8rem;
    font-weight: 600;
    font-size: .75rem;
}

#loadMoreButton:hover{
    filter: brightness(1.2);
    cursor: pointer;
}

#box {
    display: inline-flex;
    width: 234px;
    margin-left: 36%;
}

#box input {
    display: inline-flex;
    border-radius: 10px;
    outline: 0;
    border: 0;
    background: #0505051c;
    padding: 9px 41px 9px 22px;
}

#box input:focus {
    background: #0505053c;
    transition: 2s;
    filter: drop-shadow(2px 4px 6px gray);
}

#pokemonLogo{
    width: 2.5rem;
}

h1{
    color: rgb(79 79 79);
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 2.5rem;
}
#searchButton{
    background-color: #00000000;
    /* width: 3rem; */
    border: none;
    display: flex;
    margin-left: -3rem;
    z-index: 1;
}



 .fa-brands {
    padding: 0.25rem;
    color: #00000040;
    font-size: 1.4rem;
}

#abrirMeusFavoritos{
    background-color: #49494934;
    border: none;
    padding: 5px;
    border-radius: 10px;
    margin-left: 1%;
}

#abrirMeusFavoritos:hover{
    background-color: #bf3029;
    color: #fff;
    cursor: pointer;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #a6a877;
    filter:contrast(1.5);
}

.grass {
    background-color: #77c850;
    filter:contrast(1.5);
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
    filter:contrast(1.5);
}

.electric {
    background-color: #f7cf2e;
    filter:contrast(1.5);
}

.ice {
    background-color: #98d5d7;
    filter:contrast(1.5);
}

.ground {
    background-color: #dfbf69;
    filter:contrast(1.5);
}

.flying {
    background-color: #a98ff0;
    filter:contrast(1.5);
}

.poison {
    background-color: #a040a0;
    filter:contrast(1.5);
}

.fighting {
    background-color: #bf3029;
    filter:contrast(1.5);
}

.psychic {
    background-color: #f65687;
    filter:contrast(1.5);
}

.dark {
    background-color: #725847;
    filter:contrast(1.5);
}

.rock {
    background-color: #b8a137;
    filter:contrast(1.5);
}

.bug {
    background-color: #a8b720;
    filter:contrast(1.2);
}

 .ghost {
    background-color: #6e5896;
    filter:contrast(1.5);
}

.steel {
    background-color: #b9b7cf;
    filter:contrast(1.5);
}

.dragon {
    background-color: #6f38f6;
    filter:contrast(1.5);
}

.fairy {
    background-color: #f9aec7;
    filter:contrast(1.5);
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    
}

.pokemon .number {
    color: #fff;
    opacity: .5;
    text-align: right;
    font-size: .8rem;
    display: block;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
    text-transform: capitalize;
    display: inline-block;
    font-size: 1.3rem;
}


.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(0.9);
    text-align: center;
    box-shadow: 2px 2px 2px 0px rgba(2, 2, 2, 0.311);
}


.typeModal:hover{
    filter:brightness(1.5);
}

.pokemon .detail .types .type:hover {
   opacity: .8;
   cursor: pointer;
}

.pokemon .detail img {
    max-width: 100%;
    height: 100px;
    filter: brightness(0.2);
}

.pokemon .detail img:hover {
    max-width: 100%;
    height: 105px;
    filter: brightness(1.0);
}


.detailsBtn {
    display: flex;
    align-items: center;
    margin-top: 4rem;
    border-radius: 1rem;
    cursor: pointer;
    color: #fff;
    width: 2.5rem;
    height: 1.2rem;
    background-color: #6c79db;
    border: none;
    font-size: 0.75rem;
    
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}


.content{
    background-color: mintcream;
    padding: 20px 20px;
    filter: drop-shadow();
}

/* <---------- ABAIXO MODAL --------> */


li.favoritedList{
    width: 98%;
    list-style: none;
    text-transform: capitalize;
    color: #1C1C1C;
    border-radius: 1rem;
    margin-bottom: 0.2rem;
    font-weight: 0.2rem;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 0.4rem;
    
}

.favoritedList:hover{
    filter:contrast(1.5);
}

#meusFavoritos{
    background-color: #1C1C1C;
}

dialog {
    border: none;
    border-radius: 1rem;
    width: 30%;
    padding: 0;
}


.titulo {
    display: flex;
    text-transform: capitalize;
    margin-top: 0rem;
    width: 50%;
    margin-bottom: 0.4rem;
    margin-left: 20px;
    font-size: 1.5rem;
    color: #fff;
}

#capa {
    width: 100%;
    height: 20%;
    margin-bottom: -10px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px;
}

img.fotoCapa {
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 30%;
    margin-top: -2rem;
   
}

.menu{
    padding-top: 5px;
}

.menu li{
    list-style: none;
    justify-content: center;
    display: inline;
    align-items: center;
    padding-left: 1rem;
    color: #fff;
   
}

.menu a {
    position: relative;
    color: #1C1C1C;
    text-decoration: none;
    font-size: 1.05rem;
}

.menu a:hover{
    color: #494949;
    text-decoration: solid;
}

.menu a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #2c68f3;
    transition: width .8s;
    margin-top: 10px;
}

.menu a:hover::before{
    width: 100%;
    margin-top: 10px;
}

.menu a:active{
    width: 100%;
    padding-top: 5px;
    
}

button .detailBtn{
    background: none;
    border: none;
    cursor: pointer;
}

 .close{
    background: none;
    border: none;
    cursor: pointer;
}

.conteudoModal {
    background-color: #fff;
    width: 100%;
    border-radius: 2rem 2rem 0 0;
    padding-bottom: 1rem;
    overflow-y: hidden;
}

dialog::-webkit-scrollbar { 
	display: none;
}

.iconHeight{
width: 1.2rem;
display: inline;
position: relative;
}

.iconsModal{
    padding: 4px;
}

.secao p{
    display: inline;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}

.positionHeight p{
    border: solid 1px #989898;
}

.abilities{
    margin-top: 10%;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.abilities p{
    padding: 0.6rem;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10%;
    text-transform: capitalize;
    box-shadow: 2px 3px 3px 1px rgba(2, 2, 2, 0.311);
}


h3{
    margin-left: 1.5rem;
}

.abilitiesModal {
    text-transform: capitalize;
}

.fa-trash-can{
    color: #1C1C1C;
    margin-left: 90%;
}

.trashIcon{
 margin-right: 100%;
   justify-content: left;
}

.pokemonImage {
    margin-left: 50%;
    width: 2rem;
    display: flex;
    align-items: right;
    margin-top: -0.2rem;
    padding-bottom: 0.2rem;
    flex-direction: row-reverse;
    justify-content: left;
}

#favoritarBtn{
    background: none;
    cursor: pointer;
    margin-right: 55%;
    padding: 0;
}

.favoritar{
    background: none;
}


.favoritar{
    justify-content: right;
    display: inline;
    background: none;
}

.favorited{
    color: red;
    background-color: red;
    border-radius: 10px;
    padding: 2px;
   
}

.secao {
    padding-left: 2rem;
    padding-top: .5rem;
    list-style: none;
    padding-bottom: 2rem;
}



.xp-bar {
    width: 300px; /* largura da barra de experiência */
    height: 6px; /* altura da barra de experiência */
    background-color: #ccc; /* cor de fundo da barra de experiência */
    border-radius: 10px; /* bordas arredondadas */
    overflow: hidden; /* esconde o progresso que ultrapassa a barra */
}

   .xp-progress {
    height: 100%; /* altura total da barra de experiência */
    background-color: rgb(0, 106, 255); /* cor do progresso */
    width: 0;
    transition: width 0.8s ;
    cursor: pointer;
}

.xp-progress:active {
    height: 100%; /* altura total da barra de experiência */
    background-color: red; /* cor do progresso */
    width: 1; /* largura inicial da barra de progresso */
    transition: width 2s ease-in-out; /* transição suave para animar as mudanças de largura */
    cursor: pointer;
}

.statsModal{
    padding-top: 10px;
    text-transform: capitalize;
}

.listaTypes{
    margin-left: 20px;
    text-transform: capitalize;
}

.listaTypes .typeModal {
    list-style: none;
    text-transform: capitalize;
    display: inline;
    align-items: left;
    padding: 0.3rem;
    margin-left: 5px;
    width: 100%;
    border-radius: 18px;
    border: solid #fff 0.1rem;
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
}

.idPokemon {
    width: 90%;
    margin-top: 2rem;
    margin-bottom: -3rem;
    display: flex;
    justify-content: right;
    color: #fff;
}

 .menuIndices {
    list-style: none;
    text-decoration: none;
    display: inline;
    justify-content: center;
    align-items: center;
}

.close {
    margin: 15px;
}

.normal1 {
    background-color: #a6a877;
}

.grass1 {
    background-color: #77c850;
}

.fire1 {
    background-color: #ee7f30;
}

.water1 {
    background-color: #678fee;
}

.electric1 {
    background-color: #f7cf2e;
}

.ice1 {
    background-color: #98d5d7;
}

.ground1 {
    background-color: #dfbf69;
}

.flying1 {
    background-color: #a98ff0;
}

.poison1 {
    background-color: #a040a0;
}

.fighting1 {
    background-color: #bf3029;
}

.psychic1 {
    background-color: #f65687;
}

.dark1 {
    background-color: #725847;
}

.rock1 {
    background-color: #b8a137;
}

.bug1 {
    background-color: #a8b720;
}

.ghost1 {
    background-color: #6e5896;
}

 .steel1 {
    background-color: #b9b7cf;
}

.dragon1 {
    background-color: #6f38f6;
}

.fairy1 {
    background-color: #f9aec7;
}
/* <---------- ABAIXO RESIZE --------> */
@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* ------------ ABAIXO RESIZE MODAL --------------*/

@media screen and (max-width: 320px) {
    dialog {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 500px) {
    dialog {
        width: 100%;
        height: 100%;
    }
}




.mostrar {
    display: block;
}

.esconder {
    display: none;
}